@import "tailwindcss";
@config "../tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #EFEFEF;
}

.hiddenScrollBar::-webkit-scrollbar {
  width: 0; /* Скрывает полосу прокрутки */
}

.hiddenScrollBar::-webkit-scrollbar-track {
  background: transparent; /* Делает фон трека прозрачным */
}

.hiddenScrollBar::-webkit-scrollbar-thumb {
  background: transparent; /* Делает сам ползунок прозрачным */
}