@import "tailwindcss";


body {
  background: #f6f5fa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hiddenScrollBar::-webkit-scrollbar {
  width: 0; /* Скрывает полосу прокрутки */
}

.hiddenScrollBar::-webkit-scrollbar-track {
  background: transparent; /* Делает фон трека прозрачным */
}

.hiddenScrollBar::-webkit-scrollbar-thumb {
  background: transparent; /* Делает сам ползунок прозрачным */
}